<script>
	import { Router, Link, Route } from "svelte-routing";
	import Nodes from './Nodes.svelte'
	import Node from './Node.svelte'
	import User from './User.svelte'
	import Journals from './Journals.svelte'
	import Settings from './Settings.svelte'
	export let url = "";

</script>


<Router url="{url}">
	<div>
	  <Route path="/nodes" component="{Nodes}"></Route>
	  <Route path="/node/:id" component="{Node}"></Route>
	  <Route path="/user/:id" component="{User}"></Route>
	  <Route path="/journals" component="{Journals}"></Route>
	  <Route path="/settings" component="{Settings}"></Route>
	</div>
  </Router>

<style>
	main {
		text-align: center;
		padding: 1em;
		max-width: 240px;
		margin: 0 auto;
	}

	h1 {
		color: #ff3e00;
		text-transform: uppercase;
		font-size: 4em;
		font-weight: 100;
	}

	@media (min-width: 640px) {
		main {
			max-width: none;
		}
	}
</style>