<script>
    import { settings } from "./store.js";
    const processSettings = ()=> {
        localStorage["settings"] = JSON.stringify($settings)
        console.log("updated")
    }
    import { onMount } from 'svelte';
    onMount(async () => {
        $settings = JSON.parse(localStorage["settings"])
    })
</script>
<main>
    <form >
        Enter comma separated list of users to rank
        <input type="text" id="settings-ranking" placeholder="e.g. flancian, vera" bind:value={$settings.ranking} on:change={processSettings}>
    </form>
    {JSON.stringify($settings)}
</main>